/*
* Third Party
*/
@import "../../bower_components/bootstrap/dist/css/bootstrap.css"; 
@import "mobile.scss";

/*
* Custom
*/

body{
   overflow-x:hidden; 
   background: #000;
}

footer{
    padding: 20px 0 10px 0;
    p.copyright{
        float:left;
    }
    a{
        color:#fff;
        &:hover{
            text-decoration: none;
            color:#666;
        }
    }
    ul>li{
        float:left;
        margin-left:20px;
        list-style-type: none;
    }
    margin-top:40px;
}

img.background{
    background-image: url('img/bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    position:absolute;
    z-index: -1;
    overflow-x:hidden;
}

h1, h2{
    color:#fff;
    text-align:center;
    font-style:bold;
}
.block, .blocks.mobile{
    display: none;
}


img.logo2{
    margin: 16px 20px;
}

.container-fluid{
    max-width: 1200px;
}

.navbar-default{
    background-color: inherit;
    border-color: inherit;
    border: none;
    
    .navbar-collapse[aria-expanded="true"]{
        border: none;
        ul{
            //background: #fff;
        }
    }
}

h1{
    font-size: 80px;
    margin-top: 80px; 
}

h2{
    font-size: 48px;
    margin-top: 50px;
}

.nav.navbar-nav.navbar-right{
    margin-top: 8px;
}

.navbar-default .navbar-nav>li>a{
    color:#fff;
}

.circleBase{
    border-radius: 50%;
    display: inline-block;
    &.circleLabel{
        background-color:rgba(54, 54, 54, 0.9);
        position:absolute;
        p{
            color:#fff;
            text-align: center;
            font-size: 15px;
            margin-top: 45px;
        }
    }
}

.mainCircle{
    background: #fff;
    position: absolute;
}

.logo_2{
    width: 270px;
    height: 270px;
    
    margin: 0 100px;
    img{
        margin: 40px;
    }
    .circleLabel{
        width: 170px;
        height: 170px;
        margin: 170px -327px;
    }
}
.logo_6{
    width: 150px;
    height: 150px;
    margin: 160px 478px;
    img{
        margin: 27px;
    }
    .circleLabel{
        width: 140px;
        height: 140px;
        margin: -214px -82px;
        p{
            margin-top: 34px;
        }
    }
}

.logo_1{
    width: 480px;
    height: 480px;
    margin: 0 696px;
    img{
       margin: 40px;
    }
    .circleLabel{
        width: 214px;
        height: 214px;
        margin: -196px -100px;
    }
}

.row2{
    margin-top:400px;
}
.row3{
    margin-top:200px;
}

.logo_5{
    width: 256px;
    height: 256px;
    margin: 0px 100px;
    img{
       margin: 25px;
    }
    
    .circleLabel{
        width: 150px;
        height: 150px;
        margin: -336px 150px;
        p{
            margin-top:36px;
        }
    }
}

.logo_8{
    width: 190px;
    height: 190px;
    margin: 108px 404px;
    img{
       margin: 40px;
    }
    .circleLabel{
        width: 180px;
        height: 180px;
        margin: -138px 151px;
    }
}

.logo_3{
    width: 240px;
    height: 240px;
    margin: 160px 830px;
    img{
       margin: 30px;
    }
    .circleLabel{
        width: 120px;
        height: 120px;
        margin: -118px 194px;
        p{
            margin-top: 38px;
        }
    }
}

.logo_4{
    width: 240px;
    height: 240px;
    margin: 140px 85px;
    img{
       margin: 40px;
    }
    .circleLabel{
        width: 120px;
        height: 120px;
        margin: -253px 194px;
        p{
            margin-top: 38px;
        }
    }
}

.logo_7{
    width: 156px;
    height: 156px;
    margin: 160px 630px;
    img{
       margin: 64px 40px;
    }
    .circleLabel{
        width: 150px;
        height: 150px;
        margin: -100px -120px;
        p{
            margin-top: 22px;
        }
    }
}

.row4{
    margin-top:550px;
}

.logo_11{
    width: 260px;
    height: 260px;
    margin: -106px 857px;
    img{
       margin: 19px;
    }
    .circleLabel{
        width: 136px;
        height: 136px;
        margin: -308px -33px;
        p{
            margin-top: 55px;
        }
    }
}

.logo_12{
    width: 268px;
    height: 268px;
    margin: 135px 630px;
    img{
       margin: 40px;
    }
    .circleLabel{
        width: 136px;
        height: 136px;
        margin: -97px 203px;
        p{
            margin-top: 55px;
        }
    }
}

.logo_13{
    width: 268px;
    height: 268px;
    margin: -106px 0;
    img{
       margin: 40px;
    }
    .circleLabel{
        width: 136px;
        height: 136px;
        margin: -306px 163px;
        p{
            margin-top: 55px;
        }
    }
}

.logo_14{
    width: 268px;
    height: 268px;
    margin: 135px 259px;
    img{
       margin: 40px;
    }
    .circleLabel{
        width: 136px;
        height: 136px;
        margin: -307px 183px;
        p{
            margin-top: 55px;
        }
    }
}

p{
    text-align: center;
    color:#fff;
}

.row5{
    margin-top:470px;
}