/*
* Third Party
*/
@import "../../bower_components/bootstrap/dist/css/bootstrap.css"; 
@import "mobile.scss";

/*
* Custom
*/

body{
   overflow-x:hidden; 
   background: #000;
}

footer{
    padding: 20px 0 10px 0;
    p.copyright{
        float:left;
    }
    a{
        color:#fff;
        &:hover{
            text-decoration: none;
            color:#666;
        }
    }
    ul>li{
        float:left;
        margin-left:20px;
        list-style-type: none;
    }
    margin-top:40px;
}

img.background{
    background-image: url('img/bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    position:absolute;
    z-index: -1;
    overflow-x:hidden;
}

h1, h2{
    color:#fff;
    text-align:center;
    font-style:bold;
}
.block, .blocks.mobile{
    display: none;
}


img.logo2{
    margin: 16px 20px;
}

.container-fluid{
    max-width: 1200px;
}

.navbar-default{
    background-color: inherit;
    border-color: inherit;
    border: none;
    
    .navbar-collapse[aria-expanded="true"]{
        border: none;
        ul{
            //background: #fff;
        }
    }
}

h1{
    font-size: 80px;
    margin-top: 80px; 
}

h2{
    font-size: 48px;
    margin-top: 50px;
}

p{
    text-align: center;
    color:#fff;
}

.row5{
    margin-top:470px;
}

.row2{
    margin-top:400px;
}
.row3{
    margin-top:200px;
}

.row4{
    margin-top:550px;
}

.nav.navbar-nav.navbar-right{
    margin-top: 8px;
}

.navbar-default .navbar-nav>li>a{
    color:#fff;
}

.circleBase{
    border-radius: 50%;
    display: inline-block;
    &.circleLabel{
        background-color:rgba(54, 54, 54, 0.9);
        position:absolute;
        p{
            color:#fff;
            text-align: center;
            font-size: 15px;
            margin-top: 45px;
        }
    }
    a{
        position:absolute;
    }
}

.mainCircle{
    background: #fff;
    position: absolute;
}

.logo_1{
    width: 270px;
    height: 270px;
    
    margin: 0 100px;
    
    .circleLabel{
        width: 170px;
        height: 170px;
        margin: 170px -90px;
    }

    .texel{  margin: 32px 79px;}
    .addreality{    margin: 68px 59px;}
    .mirow{    margin: 119px 21px;}
    .surfancy{    margin: 113px 149px;}
    .mercaux{    margin: 187px 90px;}
}

.logo_2{
    width: 150px;
    height: 150px;
    margin: 160px 478px;
    img{
        margin: 27px;
    }
    .circleLabel{
        width: 140px;
        height: 140px;
        margin: -111px -32px;
        p{
            margin-top: 34px;
        }
    }
    
   
}

.logo_3{
    width: 480px;
    height: 480px;
    margin: 0 696px;
    
    .circleLabel{
        width: 214px;
        height: 214px;
        margin: 296px -138px;
    }

    .s4{    margin: 30px 145px;}
    .lookbox{    margin: 31px 231px;}
    .next2u{    margin: 71px 302px;}
    .dresscode{    margin: 100px 70px;}
    .qpfasion{    margin: 100px 191px;}
    .trusbox{    margin: 170px 46px;}
    .sarafan{    margin: 171px 142px;}
    .hydra{margin: 167px 309px;}
    .tardis{margin: 216px;}
    .qlothes{margin: 217px 346px;}
    .aveeva{    margin: 259px 106px;} 
    .sofitsme{margin: 300px 300px;}
    .epytom{margin: 313px 65px;}
    .cpz{    margin: 364px 125px;}
    .kuznech{    margin: 335px 200px;}
    .C{    margin: 354px 328px;}
}



.logo_4{
    width: 256px;
    height: 256px;
    margin: 0px 100px;
       
    .circleLabel{
        width: 150px;
        height: 150px;
        margin: -77px 150px;
        p{
            margin-top:36px;
        }
    }
    .TF-blue{  margin: 23px 97px;}
    .cappasity{    margin: 100px 50px;}
    .vr-commerce{    margin: 141px 30px;}
    .man-red-head{    margin: 179px 88px;}
}

.logo_5{
    width: 190px;
    height: 190px;
    margin: 108px 404px;
    
    .circleLabel{
        width: 180px;
        height: 180px;
        margin: 25px 151px;
    }
    .ariadna{    margin: 38px 41px;}
    .style-consel{    margin: 92px 44px;}
}

.logo_6{
    width: 240px;
    height: 240px;
    margin: 160px 830px;
    
    .circleLabel{
        width: 120px;
        height: 120px;
        margin: 120px 177px;
        p{
            margin-top: 38px;
        }
    }
    .heartin{margin: 44px;}
    .posh-space{    margin: 64px 118px;}
    .aura-devices{    margin: 121px 27px;}
    .nimb{    margin: 182px 85px;}
}

.logo_7{
    width: 240px;
    height: 240px;
    margin: 140px 85px;
   
    .circleLabel{
        width: 120px;
        height: 120px;
        margin: 78px 207px;
        p{
            margin-top: 38px;
        }
    }
    .cyber-x{    margin: 40px 50px;}
    .green-blue-box{    margin: 49px 135px;}
    .cyber-suits{margin: 150px 37px;}
}

.logo_8{
    width: 156px;
    height: 156px;
    margin: 160px 630px;
    .hydrop{
       margin: 64px 40px;
    }
    .circleLabel{
        width: 150px;
        height: 150px;
        margin: 19px -120px;
        p{
            margin-top: 22px;
        }
    }
}


.logo_9{
    width: 268px;
    height: 268px;
    margin: -106px 0;
    
    .circleLabel{
        width: 136px;
        height: 136px;
        margin: -66px 163px;
        p{
            margin-top: 55px;
        }
    }
    .fab-lab{    margin: 83px 34px;}
    .bezzgraniz{    margin: 102px 140px;}
    .gerb{margin: 162px 84px;}
}

.logo_10{
    width: 268px;
    height: 268px;
    margin: 135px 259px;
    
    .circleLabel{
        width: 136px;
        height: 136px;
        margin: -64px 183px;
        p{
            margin-top: 55px;
        }
    }
    .faberlic{    margin: 50px;}
    .retail-fashion{    margin: 96px 47px;}
    .creative{    margin: 93px 182px;}
    .ft{    margin: 160px 50px;}
    .clmi-ventures{    margin: 177px 123px;}
    .BTFI_logo{     margin: 6px 83px; img{width: 100px;}}
}
.logo_11{
    width: 260px;
    height: 260px;
    margin: -106px 857px;
    
    .circleLabel{
        width: 136px;
        height: 136px;
        margin: -65px -33px;
        p{
            margin-top: 55px;
        }
    }
    
    
    .fashion-tech-week{    margin: 22px 100px;}
    .fashionfuturum{    margin: 102px 22px;}
    .mfm{    margin: 190px 43px;}
}

.logo_12{
    width: 268px;
    height: 268px;
    margin: 135px 630px;
    
    .circleLabel{
        width: 136px;
        height: 136px;
        margin: 149px 203px;
        p{
            margin-top: 55px;
        }
    }
    .modahse{    margin: 30px 77px;}
    .britain-school{margin: 75px 20px;}
    .fashion-factory{margin: 100px 152px;}
    .itmo_small_white_rus{    margin: 153px 29px;}
}
