@media only screen and (max-width: 420px) {

   body{

       .blocks.mobile{
           display:block;
           .container{
               width: 300px;
               
           }
       }

       h2.ecosystema{
          margin: 60px;
       }
       
       .block{
           display: block;
           background: #fff;
           margin-top:30px;
           padding-bottom:30px;

           img{
            margin: 0 auto;
            display: block;
           }
           .container{
                width: 290px;
                margin-left: auto;
                margin-right: auto;
                padding:0;
           }
           p{
               color: #000;
                width: 254px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                padding-top: 23px;
                padding-bottom: 20px;
                font-weight: 600;
           }
       }
       h1 { 
            font-size: 2.4em;
            margin-top:0;
        }
        h2{
           font-size:2em;
           margin-top:20px; 
        }
        .pc{
            display: none;
        }
        img.background{
            display: none;
        }

        .mainCircle{
            display:none;
        }

        img.logo2{
            margin: 21px 11px;
            width: 109px
        }
        img.logo1{
            width: 100px;
        }

        p.about{
            padding: 40px 20px;
        }

        footer{
            ul{
               margin-top: 40px;
               padding:0; 
               li{
                 float: none;
                 margin-left:0;
                 margin-top: 10px;
               }
            }
        }
   }

   .block.block_1{
       
       height:670px;

       a{
          position:absolute;
       }

    .s4{ }
    .lookbox{    margin: 0 107px;}
    .next2u{        margin: -14px 198px;}
    .dresscode{        margin: 79px 37px;}
    .qpfasion{   margin: 76px 156px;}
    .trusbox{   margin: 148px 4px;}
    .sarafan{      margin: 186px 91px;}
    .hydra{    margin: 142px 189px;}
    .tardis{    margin: 253px 180px;}
    .qlothes{        margin: 476px 107px;}
    .aveeva{    margin: 300px 10px;} 
    .sofitsme{    margin: 440px 93px;}
    .epytom{    margin: 375px 8px;}
    .cpz{   margin: 438px 17px;}
    .kuznech{     margin: 340px 200px;}
    .C{  margin: 452px 238px;}
   }

   .block{
        a{
            margin-bottom: 20px;
            display: block;
        }
        .BTFI_logo{
            img{
                width:100px;
            } 
         }
   }
    
}